<% @tickets.each do |ticket| %>
  <div class="card" style="margin-bottom: 10px">
    <div class="card-body">


      <div class="row">
        <div class="col-6">
          <b>Owner of ticket:</b> <%= ticket.user.email %>
        </div>
        <div class="col-3">
          <b>Places:</b> <%= ticket.places %>
        </div>
        <div class="col-#">
          <b>Price:</b> <%= ticket.places * ticket.event.price %>
        </div>
      </div>
    </div>
  </div>

<% end %>