
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        <%= "#{@title}" %>
      </h1>
      <p>
        <%= "#{@description}" %>
      </p>
      <hr>
      <div style="text-align: center">
        <%= link_to 'Dodaj nowe wydarzenie', new_event_path, class: "btn btn-lg btn-success" %>
        <%= link_to 'Przeglądaj wydarzenia', events_path, class: "btn btn-lg btn-success" %>
        <a class="btn btn-lg btn-info" href="#" role="button">Zaloguj się</a>
      </div>
    </div>
  </div>


