
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        <%= "#{@title}" %>
      </h1>
      <p>
        <%= "#{@description}" %>
      </p>
      <hr>
      <a class="btn btn-lg btn-success" href="#" role="button">Dodaj nowe wydarzenie</a>
      <a class="btn btn-lg btn-primary" href="#" role="button">Przeglądaj wydarzenia</a>

    </div>
  </div>


